<!DOCTYPE html>
<head>
<head>HEllo world  </head>
 
  <title>StoresTST</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
<!-- carousel -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="/images/mercadoconscientelogochiquito2.png" alt="foo">
      <div class="container">
        <div class="carousel-caption">
          <h1>CAPTION FOO BAR</h1>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/images/mercadoconscientelogochiquito2.png" alt="foo">
    </div>
    <div class="item">
      <img src="/images/mercadoconscientelogochiquito2.png" alt="foo">
    </div>
    <div class="item">
      <img src="/images/mercadoconscientelogochiquito2.png" alt="foo">
    </div>
    <div class="item">
      <img src="/images/mercadoconscientelogochiquito2.png" alt="foo">
    </div>
    <div class="item">
      <img src="/images/mercadoconscientelogochiquito2.png" alt="foo">
    </div>
  </div>
</div><!-- /.carousel -->


<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Some Store</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Browse Products", products_path %></li>
            <li><%= link_to "Price List" %></li>
            <li><%= link_to "Contact Us" %></li>
            <li><%= link_to "Cart" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>



=======
>>>>>>> bb0f80407b8073596aeb8d0f2faaf49f808c87e4

<%= yield %>
</div>
</body>
</html>
