<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

<%= javascript_include_tag 'application','jquery', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>  
	<script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>
	<%#= link_to "popover", "#", :title => "Next", :rel=>"popover" %>    
 
</script>
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><%= image_tag 'test3.png' %></div>
    <div class="item"><%= image_tag 'test2.png' %></div>
    <div class="item"><%= image_tag 'test.png' %></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<!-- carousel -->
<!--  Carousel - consult the Twitter Bootstrap docs at 
      http://twitter.github.com/bootstrap/javascript.html#carousel -->



          <%= yield %>

<script>
$(function(){
  $('#myCarousel').carousel();
});
</script>
<footer>
<div id= "navigbar" class="navbar navbar-fixed-top" data-hook>
  <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Mercado Consciente</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Productos", products_path %></li>
            <li><%= link_to "Porque Mercado Consciente" %></li>
            <li><%= link_to "Contactanos" %></li>
            <li id="link-to-cart" data-hook>
      <noscript>
        <%= link_to Spree.t(:cart), '/cart' %>
      </noscript>
      &nbsp;
    </li>
    <script>Spree.fetch_cart()</script>
  <li><%= link_to "Log in" %></li>
  </ul>
</nav>

          </ul>

        </div>
      </div>
    </div>
  </div>
 </footer>

<%= yield %>
</div>
</body>
</html>
